@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$main-color: #2C2E39;
$secondary-color: #DC6646;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px/1.6 'Roboto Mono',Sans-serif;
}

body {
  background-color: #050D15;
}

main {
  margin-top: 20px;
  #wrapper {
    background-color: #ccc;
    width: 50%;
    margin: auto;
    h1 {
      font-size: 22px;
      text-align: center;
      background-color: $main-color;
      color: #fff;
    }
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      padding: 10px;
      gap: 10px;
      input {
        width: 100%;
        height: 38px;
        border: 1px solid #ccc;
        outline: none;
        padding-left:10px;
        text-transform: uppercase;
        &:focus {
          border-bottom: 2px solid $main-color;
        }
      }
      label {
        font-weight: 700;
      }

      .btn-primary {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        border: none;
        background-color: $main-color;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: lighten($color: $main-color, $amount: 10%);
        }
      }

      .btn-secondary {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        border: none;
        background-color: $secondary-color;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: lighten($color: $secondary-color, $amount: 10%);
        }
      }
      .read-only {
        input {
          background-color: #ddd;
        }
      }
    }
  }
}
